@media(max-width: 769px)
{
  .menuMo
{
  display: block;
}
  .menuMo .menu-mobile
  {
    background: none;
    border: 0;
  }

  .sumiu
  {
    display: none;
  }
[data-menu='list']
{
  display: none;
  position: fixed;
  top: 0;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  background: #7159c1;
  width: 100%;
  height: 100%;
}
[data-menu='list'] ul
{
  padding: 100px 0;
}
[data-menu='list'] ul li
{
margin: 20px 0;
}
[data-menu='list'].active 
{
  -o-transition: all .9s ease-in-out;
  -moz-transition: all .9s ease-in-out;
  -webkit-transition: all .9s ease-in-out;
  transition: all .9s ease-in-out; 
  display: flex;
  opacity: .87;

}
[data-menu='list'].active ul
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
};

[data-menu='list'].active .lista li
{
-o-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out; 
text-align: center;
padding: 0 20px;

}
[data-menu='list'] ul li:hover
{
  transform:  scale(1.3);
}
[data-menu='list'] ul li a
{
color: #fff;
font-weight: bold;
font-size: 2em;
text-transform: uppercase;
letter-spacing: 2px;
}
.icons-menu
{
  display: flex;
  flex-direction: row;
}
.icons-menu .rs
{
  margin: 0 20px;
}
 .fechar 
{
  top: 20px;
  right: 30px;
  position: absolute;
  border-radius: 50%;
  border: 0;
  color: #fff ;
  font-size: 3em;
  background: none;
  transition: all .5s ease-in-out;

} 
.fechar:hover
{
  transform: scale(1.3);
}
}