.menuFixo 
{
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: #16181A;
  transition: all 1s ease-in-out;
  z-index: 2;
}
.menuFixo .topo
{
  margin: 0 10%;
}
.menuFixo .img-logo 
{ 
  max-width: 100px;  
  height: 100px;
}

@media(max-width: 500px)
{
.img-logo
{
  width: 40%; 
}

.menuFixo 
{
  width: 100%; 
}
.menuFixo .topo
{
  margin: 0 10%;
}
}